body {
  background-color: #000;
  font-family: 'Suisse bp int\'l', sans-serif;
  color: #fff;
  font-size: 1vw;
  font-weight: 400;
}
#target4
{
opacity: 0;
transition: opacity .5s ease-out;
}

.about__image, .conatcts__image-is2{
  opacity: 0;
  transition-delay: 4s !important;
  transition: opacity .5s ease-out;
}

a {
  color: #fff;
  text-decoration: underline;
}

.scroll-view
{
  transition: opacity .2s ease-out;
}

img {
  display: inline-block;
}

.heading-big-hero {
  margin-top: 0px;
  margin-bottom: 2.43vw;
  font-family: Editorialnew, sans-serif;
  font-size: 36.11em;
  line-height: 80%;
  font-weight: 200;
  letter-spacing: -0.03em;
}

.headign-med {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6.67em;
  line-height: 100%;
}

.headign-med.none-decor:hover {
  text-decoration: underline;
}

.p-normal {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.25em;
  line-height: 117%;
}

.p-normal.nav-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.72em 1.4em 0.67em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100em;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.p-normal.nav-btn:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.p-normal.nav-btn.mob {
  display: none;
}

.p-normal.none-decor:hover {
  text-decoration: underline;
}

.p-normal.link-hover:hover {
  text-decoration: none;
}

.p-normal.footer.uppercase {
  text-transform: uppercase;
}

.p-med {
  margin-bottom: 0px;
  font-size: 2.5em;
  line-height: 115%;
}

.p-times {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.nav {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.04em;
  padding-right: 2.8em;
  padding-left: 2.8em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__logo {
  width: 4.2em;
  height: 4.86em;
  margin-left: -2.41vw;
}

.nav__logo.logo-bar-mob {
  display: none;
}

.nav__logo.logo-bar {
  -webkit-transform: translate(0px, 45vh) scale(2);
  -ms-transform: translate(0px, 45vh) scale(2);
  transform: translate(0px, 45vh) scale(2);
  -webkit-transition: -webkit-transform 1200ms ease;
  transition: -webkit-transform 1200ms ease;
  transition: transform 1200ms ease;
  transition: transform 1200ms ease, -webkit-transform 1200ms ease;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 2.8em;
}

.none-decor {
  text-decoration: none;
}

.global-wrapper {
  padding-top: 12.77vw;
  padding-right: 2.8em;
  padding-left: 2.8em;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.global-wrapper.animate-header-text {
  -webkit-transform: translate(0px, 95vh);
  -ms-transform: translate(0px, 95vh);
  transform: translate(0px, 95vh);
  -webkit-transition: opacity 400ms ease-out, -webkit-transform 1200ms ease;
  transition: opacity 400ms ease-out, -webkit-transform 1200ms ease;
  transition: opacity 400ms ease-out, transform 1200ms ease;
  transition: opacity 400ms ease-out, transform 1200ms ease, -webkit-transform 1200ms ease;
}

.hero {
  position: relative;
}

.hero__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.hero__image-is1 {
  position: absolute;
  left: 0%;
  top: 26.63vw;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 40.9em;
  height: 61.46em;
}

.hero__image-is1.animate-left-herb {
  -webkit-transform: translate(0px, 70vh) rotate(-9deg);
  -ms-transform: translate(0px, 70vh) rotate(-9deg);
  transform: translate(0px, 70vh) rotate(-9deg);
  -webkit-transition: -webkit-transform 1400ms ease;
  transition: -webkit-transform 1400ms ease;
  transition: transform 1400ms ease;
  transition: transform 1400ms ease, -webkit-transform 1400ms ease;
}

.hero__image-is2 {
  position: absolute;
  left: auto;
  top: 6.7vw;
  right: 0%;
  bottom: auto;
  z-index: 1;
  width: 35.21em;
  height: 52.1em;
}

.hero__image-is2.animate-right-herb {
  -webkit-transform: translate(0px, 92vh) rotate(31deg);
  -ms-transform: translate(0px, 92vh) rotate(31deg);
  transform: translate(0px, 92vh) rotate(31deg);
  -webkit-transition: -webkit-transform 1600ms ease;
  transition: -webkit-transform 1600ms ease;
  transition: transform 1600ms ease;
  transition: transform 1600ms ease, -webkit-transform 1600ms ease;
}

.hero__image-redis {
  position: absolute;
  left: 11.8vw;
  top: 101.4vw;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 7.64em;
  height: 7.64em;
}

.hero__image-redis.is2 {
  position: absolute;
  left: auto;
  top: 140.625vw;
  right: 20.48vw;
  bottom: auto;
  z-index: 1;
  width: 4.16em;
  height: 4.16em;
}

.hero__image-redis.is3 {
  left: auto;
  top: 250.42vw;
  right: 33.88vw;
  bottom: auto;
  width: 10.42em;
  height: 11.8em;
}

.hero__image-redis.is4 {
  left: 27.7vw;
  top: 196.53vw;
  right: auto;
  bottom: auto;
  width: 10.42em;
  height: 10.42em;
  -webkit-transform: rotate(-64deg);
  -ms-transform: rotate(-64deg);
  transform: rotate(-64deg);
}

.hero__image-redis.is1.mob {
  display: none;
}

.about-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.375em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__image-qr {
  width: 100%;
  height: 100%;
}

.about__image-container {
  width: 14.6em;
  height: 5.55em;
  margin-bottom: 4.58em;
}

.about__text {
  width: 51%;
  margin-bottom: 6.04em;
  line-height: 115%;
  text-align: center;
}

.about__list-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.8em;
  grid-row-gap: 0px;
  -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  line-height: 105%;
  text-align: right;
}

.list-about__list {
  margin-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  list-style-type: none;
}

.about-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4.51em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 5.21em;
}

.about-wrapper.down {
  margin-bottom: 5.55em;
  grid-row-gap: 0em;
}

.contacts-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4.51em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__link-mail {
  display: inline-block;
  margin-bottom: 5.3em;
  text-align: center;
}

.about__image {
  position: absolute;
  left: 0%;
  top: 119.17vw;
  right: auto;
  bottom: auto;
  width: 36.46em;
  height: 58.19em;
}

.footer {
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__year-txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.contacts__image {
  width: 29.58em;
  height: 47.57em;
  margin-top: 4.72em;
}

.conatcts__image-is1 {
  position: absolute;
  left: 0%;
  top: 197.92vw;
  right: auto;
  bottom: auto;
  width: 35.9em;
  height: 38.9em;
}

.conatcts__image-is2 {
  position: absolute;
  left: auto;
  top: 106.11vw;
  right: 0%;
  bottom: auto;
  width: 33.06em;
  height: 75.625em;
}

.redis-lottie {
  transition: opacity .5s ease-out;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.redis-lottie.edit {
  z-index: 0;
}

.scroll-container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100vh;
}

.scroll-container.edit {
  position: static;
  height: auto;
}

.scroll-container.is2 {
  z-index: 2;
}

.scroll-container.is3 {
  z-index: 2;
}

.scroll-container.no-e-pointers.botva {
  z-index: 2;
}

.scroll-container.transform3d-checker.edit {
  position: relative;
  z-index: 999;
}

.redis-lottie-test {
  position: fixed;
  left: 40%;
  top: 26%;
  z-index: 99;
  display: none;
  width: 24em;
  height: 24em;
}

.nav__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 2.8em;
}

.html-embed {
  display: none;
}

.footer__image {
  width: 100%;
  height: 100%;
  margin-bottom: 1.4em;
}

.footer__image_container {
  width: 7.64em;
  height: 4.44em;
  margin-bottom: 1.4em;
}

.image__container {
  position: relative;
  width: 100%;
  height: 240vw;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.path-container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
}

.lottie-wrapper {
  width: 24em;
  height: 24em;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.target-lottie {
  width: 100%;
  height: 100%;
}

.lottie_mob--container {
  display: none;
}

.contacts__emails {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.8em;
  -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contacts__careers {
  text-align: right;
}

.image__container-redis {
  position: relative;
  width: 100%;
  height: 280vw;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.footer__image-comands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 6.94vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.footer__image-comands.justife {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__image-comands.center {
  padding-right: 20.21vw;
  padding-left: 20.21vw;
}

.comands__item {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 13.4em;
  height: 13.4em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100em;
}

.comands__image {
  width: 100%;
  height: 100%;
}

.comands__image.hover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  opacity: 0;
}

.botva-mob__left {
  display: none;
}

.botva-mob__right {
  display: none;
}

.preloader__container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.preloader-line {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 0%;
  height: 8px;
  background-color: #fff;
  -webkit-transition: height 300ms ease, width 2500ms ease;
  transition: height 300ms ease, width 2500ms ease;
}

.lottie-animation {
  display: none;
}

.lottie-container {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0px, 75vh) rotate(66deg);
  -ms-transform: translate(0px, 75vh) rotate(66deg);
  transform: translate(0px, 75vh) rotate(66deg);
  -webkit-transition: -webkit-transform 1900ms cubic-bezier(0.28, 0.13, 0.02, 0.99);
  transition: -webkit-transform 1900ms cubic-bezier(0.28, 0.13, 0.02, 0.99);
  transition: transform 1900ms cubic-bezier(0.28, 0.13, 0.02, 0.99);
  transition: transform 1900ms cubic-bezier(0.28, 0.13, 0.02, 0.99), -webkit-transform 1900ms cubic-bezier(0.28, 0.13, 0.02, 0.99);
}

.bt_bar_1 {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.bt_bar_2 {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.bt_bar_3 {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
}

.transform-1140 {
  -webkit-transform: translate(0px, -1140px);
  -ms-transform: translate(0px, -1140px);
  transform: translate(0px, -1140px);
}

@media screen and (max-width: 991px) {
  .comands__image.hover {
    display: none;
  }

  .lottie-animation-2 {
    width: 500px;
    height: 500px;
  }

  .animation {
    background-color: #ff4242;
  }
}

@media screen and (max-width: 479px) {
  .heading-big-hero {
    margin-bottom: 0vw;
    font-size: 33.9em;
  }

  .heading-big-hero.mob {
    margin-bottom: 3.88vw;
  }

  .headign-med {
    font-size: 14.44em;
  }

  .p-normal {
    font-size: 4.44em;
    line-height: 105%;
  }

  .p-normal.nav-btn {
    position: fixed;
    left: 5.55vw;
    top: auto;
    right: 5.55vw;
    bottom: 5.55vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 13.9vw;
  }

  .p-normal.nav-btn.mob {
    position: fixed;
    left: 20.53vw;
    top: auto;
    right: 20.53vw;
    bottom: 5.33vw;
    z-index: 99;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 13.33vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .p-normal.none-decor {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .p-normal.about-headign {
    text-align: right;
  }

  .p-normal.footer {
    margin-right: -5vw;
    margin-left: -5vw;
  }

  .p-normal.footer.uppercase {
    margin-bottom: 0.55vw;
  }

  .p-med {
    font-size: 6.11em;
    line-height: 100%;
  }

  .nav {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding-top: 8.33em;
    padding-right: 5.55em;
    padding-left: 5.55em;
  }

  .nav__logo {
    display: none;
    width: 10.7em;
    height: auto;
  }

  .nav__logo.logo-bar-mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 16.67em;
    height: 19.44em;
    margin-top: -1.4em;
    margin-left: -1.9vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate(0px, 40vh) scale(2);
    -ms-transform: translate(0px, 40vh) scale(2);
    transform: translate(0px, 40vh) scale(2);
    -webkit-transition: -webkit-transform 1200ms ease;
    transition: -webkit-transform 1200ms ease;
    transition: transform 1200ms ease;
    transition: transform 1200ms ease, -webkit-transform 1200ms ease;
  }

  .nav__menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .global-wrapper {
    padding-top: 61.11em;
    padding-right: 5.55em;
    padding-left: 5.55em;
  }

  .global-wrapper.hide {
    display: none;
  }

  .hero {
    margin-top: 0em;
  }

  .hero__image-is1 {
    top: 83.33vw;
    width: 57.5em;
    height: 86.4em;
  }

  .hero__image-is1.animate-left-herb {
    -webkit-transform: translate(0px, 80vh) rotate(-9deg);
    -ms-transform: translate(0px, 80vh) rotate(-9deg);
    transform: translate(0px, 80vh) rotate(-9deg);
  }

  .hero__image-is2 {
    width: 44.44em;
    height: 65.83em;
  }

  .hero__image-is2.animate-right-herb {
    -webkit-transform: translate(0px, 100vh) rotate(0deg);
    -ms-transform: translate(0px, 100vh) rotate(0deg);
    transform: translate(0px, 100vh) rotate(0deg);
    -webkit-transition-duration: 2300ms;
    transition-duration: 2300ms;
  }

  .hero__image-redis {
    width: 25.3em;
    height: 25.3em;
  }

  .hero__image-redis.is2 {
    display: none;
  }

  .hero__image-redis.is3 {
    display: none;
  }

  .hero__image-redis.is1 {
    left: auto;
    top: 233.64vw;
    right: 8.67vw;
    bottom: auto;
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg);
  }

  .hero__image-redis.is1.mob {
    left: 0%;
    top: 670.55vw;
    right: auto;
    bottom: auto;
    display: inline-block;
    width: 22.5em;
    height: 22.5em;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .about-section {
    padding-top: 55.55em;
    padding-bottom: 11.11em;
  }

  .about__image-container {
    width: 40.28em;
    height: 17.5em;
    margin-bottom: 11.11em;
  }

  .about__text {
    width: auto;
    margin-bottom: 13.9em;
  }

  .about__list-container {
    width: auto;
    grid-column-gap: 5.55em;
    -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
    text-align: left;
  }

  .list-about__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 1.4em;
  }

  .about-wrapper {
    width: 100%;
    margin-bottom: 0em;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    grid-row-gap: 13.9em;
  }

  .about-wrapper.down {
    margin-bottom: 0em;
  }

  .contacts-section {
    padding-top: 0em;
    padding-bottom: 12.22em;
  }

  .contacts__link-mail {
    margin-bottom: 13.9em;
  }

  .about__image {
    top: 255vw;
    width: 43.61em;
    height: 69.44em;
  }

  .footer {
    padding-top: 0em;
    padding-bottom: 0em;
  }

  .conatcts__image-is1 {
    top: 570vw;
    width: 51.11em;
    height: 55.55em;
  }

  .conatcts__image-is2 {
    top: 391.67vw;
    display: none;
    width: 48.05em;
    height: 110em;
  }

  .scroll-container.is1 {
    position: static;
    height: auto;
  }

  .scroll-container.is2 {
    position: absolute;
  }

  .scroll-container.is3 {
    height: auto;
  }

  .scroll-container.is4 {
    position: absolute;
    height: auto;
  }

  .footer__image {
    margin-bottom: 0em;
  }

  .footer__image_container {
    width: 26.11em;
    height: 15.55em;
    margin-bottom: 5.55em;
  }

  .image__container {
    height: 970vw;
  }

  .lottie-wrapper {
    width: 50em;
    height: 50em;
  }

  .lottie-mob {
    position: fixed;
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 82.7em;
  }

  .lottie_mob--container {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .trigger {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 20px;
    height: 340vw;
  }

  .contacts__emails {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin-top: 11.7em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 5.55em;
    grid-row-gap: 16px;
    -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .contacts__careers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    grid-row-gap: 1.4em;
    text-align: center;
  }

  .contacts__inquiries {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row-gap: 1.4em;
    line-height: 105%;
    text-align: center;
  }

  .image__container-redis {
    height: 950vw;
  }

  .about__list.mob {
    margin-bottom: 1.39vw;
  }

  .footer__image-comands {
    margin-bottom: 13.9vw;
  }

  .footer__image-comands.center {
    padding-right: 16.7vw;
    padding-left: 16.7vw;
  }

  .comands__item {
    width: 20.3em;
    height: 20.3em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .comands__item.hover.big {
    width: 88.9em;
    height: 88.9em;
    margin-bottom: 11.11em;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .comands__item.big {
    width: 88.9em;
    height: 88.9em;
    margin-bottom: 11.11vw;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .botva-mob__left {
    position: absolute;
    left: 0%;
    top: 857.8vw;
    right: auto;
    bottom: auto;
    display: inline-block;
    width: 39.72vw;
    height: 79.2vw;
  }

  .botva-mob__right {
    position: absolute;
    left: auto;
    top: 792.5vw;
    right: 0%;
    bottom: auto;
    display: inline-block;
    width: 45vw;
    height: 44.2vw;
  }

  .preloader-line {
    height: 4px;
    -webkit-transition-duration: 300ms, 5000ms;
    transition-duration: 300ms, 5000ms;
  }

  .lottie-container {
    -webkit-transition-duration: 1600ms;
    transition-duration: 1600ms;
  }
}

#w-node-_640837c8-76f6-bd73-8976-63978cf8695e-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8b533f8d-30ae-30a3-27a6-72ac771964ba-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d1-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d3-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a43-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a45-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57c9-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57cb-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57ea-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57ec-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d5804-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d5806-94893d67 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_640837c8-76f6-bd73-8976-63978cf8695e-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8b533f8d-30ae-30a3-27a6-72ac771964ba-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d1-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d3-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a43-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a45-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57c9-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57cb-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57ea-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d57ec-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d5804-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_686dac4b-1b8a-e26f-0034-f026d35d5806-730103a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d1-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d3-e0e27a40 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_640837c8-76f6-bd73-8976-63978cf8695e-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_8b533f8d-30ae-30a3-27a6-72ac771964ba-e0e27a40 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a43-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a45-e0e27a40 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-a40f2226-af02-a1fe-17ac-122ae8463746-e0e27a40 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_6b386472-fb26-55db-2b26-d1b00a5b30b2-e0e27a40 {
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_936aa4da-1809-b001-b545-3c27751f10fb-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710737-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710739-e0e27a40 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710750-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710752-e0e27a40 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-f7b26fa8-2430-406c-de43-47fbc0d1cbbf-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-f7b26fa8-2430-406c-de43-47fbc0d1cbc1-e0e27a40 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710783-e0e27a40 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710788-e0e27a40 {
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-dcf93fb5-2bfd-bf4b-8558-003fc571078f-e0e27a40 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d1-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2994b06-6601-9b26-6f67-849c12e8a5d3-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_640837c8-76f6-bd73-8976-63978cf8695e-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8b533f8d-30ae-30a3-27a6-72ac771964ba-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a43-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a45-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a40f2226-af02-a1fe-17ac-122ae8463746-6544259a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_936aa4da-1809-b001-b545-3c27751f10fb-6544259a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f033-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f035-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f046-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f048-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f06c-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f06e-6544259a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f082-6544259a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f08e-6544259a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-a2994b06-6601-9b26-6f67-849c12e8a5d1-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a2994b06-6601-9b26-6f67-849c12e8a5d3-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_640837c8-76f6-bd73-8976-63978cf8695e-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_8b533f8d-30ae-30a3-27a6-72ac771964ba-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a43-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a45-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a40f2226-af02-a1fe-17ac-122ae8463746-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_6b386472-fb26-55db-2b26-d1b00a5b30b2-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710737-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710739-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710750-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710752-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-f7b26fa8-2430-406c-de43-47fbc0d1cbbf-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-f7b26fa8-2430-406c-de43-47fbc0d1cbc1-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710783-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-dcf93fb5-2bfd-bf4b-8558-003fc5710788-e0e27a40 {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a2994b06-6601-9b26-6f67-849c12e8a5d1-6544259a {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-a2994b06-6601-9b26-6f67-849c12e8a5d3-6544259a {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_640837c8-76f6-bd73-8976-63978cf8695e-6544259a {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_8b533f8d-30ae-30a3-27a6-72ac771964ba-6544259a {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a43-6544259a {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_205f7f9b-35a8-3e1b-c9d2-8f780e493a45-6544259a {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f033-6544259a {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f035-6544259a {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f046-6544259a {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f048-6544259a {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f06c-6544259a {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_479b6827-a4cf-56fb-d62f-ae173ff8f06e-6544259a {
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@font-face {
  font-family: 'Editorialnew';
  src: url('../fonts/EditorialNew-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Suisse bp int'l';
  src: url('../fonts/Suisse-BP-Intl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}